@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('http://kohanarsrc.fredmadeit.com/fonts/HelveticaBold.eot');
    src: local('Helvetica Bold'),
         url('http://kohanarsrc.fredmadeit.com/fonts/HelveticaBold.ttf') format('truetype'),
         url('http://kohanarsrc.fredmadeit.com/fonts/HelveticaBold.svg#font') format('svg'),
         url('http://kohanarsrc.fredmadeit.com/fonts/HelveticaBold.woff') format('woff'); 
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('http://kohanarsrc.fredmadeit.com/fonts/helveticaneue-light-webfont.eot');
    src: local('Helvetica Bold'),
         url('http://kohanarsrc.fredmadeit.com/fonts/helveticaneue-light-webfont.ttf') format('truetype'),
         url('http://kohanarsrc.fredmadeit.com/fonts/helveticaneue-light-webfont.svg#font') format('svg'),
         url('http://kohanarsrc.fredmadeit.com/fonts/helveticaneue-light-webfont.woff') format('woff'); 
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: century gothic, Helvetica, Arial, Sans-serif;
    background-color: #EFF5FB;
}
#main_container{
    width: 900px;
    margin: 0 auto;
}
#main_nav{
    list-style-type: none;
    padding: 0 0 20px;
}
#main_nav li{
    float: right;
    text-decoration: none;
    padding-left: 30px;
}
#main_nav li a{
	color: #000;
    text-decoration: none;
}
#nav_logo{
	float: left !important;
	margin: 0px;
	padding: 0px !important;
	font-size:20px;
}
#nav_logo a{
	text-decoration: none;	
}
.medium_grey1{
	color: #707070;
	font-size: 36px;
}
.big_grey1{
	color: #404040;
	font-size: 42px;
}
.medium_grey2{
	color: #707070;
	font-size: 52px;
}
.big_grey2{
	color: #404040;
	font-size: 58px;
}
.bottom_box{
	width: 266px;
	height: 300px;
	float: left;
	padding-right: 50px;
}
.bottom_box_last{
	padding: 0;	
}
.bottom_box_title{
	font-family: century gothic, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #404040;
}
.bottom_box_content{
	padding-top: 10px;
	line-height: 24px;
}